@import './reset';
#root{
    display: $flex;
    justify-content: $center;
    align-items: $center;
        .wrapper{
            display: $flex;
            justify-content: $center;
            align-items: $center;
            height: $full / 2;
            min-height: $on * 35;
            width: $full;
            max-width: $full / 4;
            background-color: rgba(209, 209, 209, 0.4);
            border-radius: 3px;
            padding: $on * 1;
            overflow: hidden;
            position: absolute;
            z-index: 9;
            left: 15%;
            top: 50%;
            transform: translate(-50%, -50%);
                .getData{
                    .avatar{
                        img{
                            margin:auto;
                            border-radius: $full / 2;
                            box-shadow: 0px 0px 15px rgba(0,0,0,.2);
                        }
                    }
                    .personInfo{
                        margin: $on * 2 $zero;
                        background-color: rgba(255,255,255, .2);
                        width: $full;
                        border-radius: $on - 7;
                        padding: $on;
                        span{
                            display: $flex;
                            justify-content: $center;
                            color:#2b2a2a
                        }
                    }
                    .socialMedia{
                        text-align: $center;
                            a{
                                &:first-child{
                                    margin-right: $on / 2;
                                }
                                svg{
                                    background-color: rgba(255,255,255, .8);
                                }
                            }
                    }
                }
        }
}

@media screen and (min-width: 281px) and (max-width: 800px){
    #root{
        .wrapper{
            height: $full;
            width: $full;
            max-width: $full;
            left: 50%;
                .getData{
                    background-color: rgba(255,255,255,.5);
                    padding: 20px;
                    border-radius: 4px;
                        .personInfo{
                            background-color: rgba(255, 255, 255, 0.5);
                            border-radius: 5px;
                        }
                }
        }
    }
}